*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

canvas {
    width: 100%;
    height: 100vh;
    border: 3px solid black;
    margin: 10px;
}